/* General Reset */
#one {
  position: fixed;
  width: 20%;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  margin: 50px;
  border: 5px solid blue;

}


#two {
  position: fixed;
  width: 20%;
  top: 50px;
  right: 5px;
  padding: 5px;
  margin: 50px;
  border: 5px solid green;
}


#three {
  position: fixed;
  width: 20%;
  top: 50px;
  left: 5px;
  padding: 5px;
  margin: 50px;
  border: 5px solid orange;
}


#four {
  position: fixed;
  width: 20%;
  bottom: 5px;
  left: 5px;
  padding: 5px;
  margin: 50px;
  border: 5px solid yellow;
}


#link {
  position: absolute;
  top: 0;
  left: 48%;
  font-size: 1.64rem;
  background-color: #0A4B33;
  box-sizing: border-box;
  font-family: 'Roboto', Corbel, Avenir, 'Lucida Grande', 'Lucida Sans', sans-serif;
 color: white;
    height: 50px;
    padding: 15px 15px;
    line-height: 20px;
    margin: 15px ;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}
#link a, #link a:visited {
   color:white;
   text-decoration:none;
}